<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!--! Importação dos elementos do head -->
        <%- include("../partials/head.ejs") %>

        <!--! Definição do título da página -->
        <title>Centro de Tecnologia do Queijo</title>
    </head>
    <body>
        <!--! Header -->
        <header>
            <!--* Barra de Navegação -->
            <%- include("../partials/navbar.ejs") %>
        </header>

        <!--! Main -->
        <main class="container p-60">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Bem vindo ao nosso site</h1>
        </main>

        <!--! Footer -->
        <footer>
            <!--* Rodapé -->
            <%- include("../partials/footer.ejs") %>
        </footer>

        <!--! Scripts -->
        <!--* Script da barra de navegação -->
        <script src="./scripts/navbar.js"></script>
    </body>
</html>
