<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--! Importação dos elementos do head -->
    <%- include("../partials/head.ejs") %>

        <!--! Definição do título da página -->
        <title>Centro de Tecnologia do Queijo</title>
</head>

<body>
    <!--! Header -->
    <header>
        <!--* Barra de Navegação -->
        <%- include("../partials/navbar.ejs") %>
    </header>

    <main>
        <div class="w-screen h-screen flex justify-center items-center bg-gray-100">
            <form class="p-10 bg-white rounded flex justify-center items-center flex-col shadow-md">
                <img class="w-20 h-20 text-gray-600 mb-2" viewbox="0 0 20 20" fill="currentColor" src="/assets/ctq.svg">
                <p class="mb-5 text-3xl uppercase text-gray-900">Login</p>
                <input type="email" name="email"
                    class="mb-5 p-3 w-80 focus:border-cyan-700 rounded border-2 outline-none" autocomplete="off"
                    placeholder="Email" required>
                <input type="password" name="password"
                    class="mb-5 p-3 w-80 focus:border-cyan-700 rounded border-2 outline-none" autocomplete="off"
                    placeholder="Password" required>
                <button class="bg-cyan-700 rounded hover:bg-cyan-800 text-white font-bold p-2 rounded w-80" id="login"
                    type="submit"><span>Login</span></button>
            </form>
        </div>

        <script>
            document.getElementById("login").addEventListener("click", function (event) {
                event.preventDefault();
            });
        </script>
    </main>

    <!--! Footer -->
    <footer>
        <!--* Rodapé -->
        <%- include("../partials/footer.ejs") %>
    </footer>

    <!--! Scripts -->
    <!--* Script da barra de navegação -->
    <script src="./scripts/navbar.js"></script>
</body>
</html>