<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!--! Importação dos elementos do head -->
        <%- include("partials/head.ejs") %>

        <!--! Definição do título da página -->
        <title>CTq - Currais Novos</title>
    </head>
    <body>
        <!--! Header -->
        <header>
            <!--* Barra de Navegação -->
            <%- include("partials/navbar.ejs") %>
        </header>

        <!--! Scripts -->
        <!--* Script da barra de navegação -->
        <script src="./scripts/navbar.js"></script>
    </body>
</html>
