<footer class="p-4 sm:p-6 bg-gray-900 static inset-x-0 bottom-0 w-full">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="/" class="flex items-center w-max">
                <img src="\assets\ctq.svg" class="mr-3 h-8" alt="FlowBite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Centro de Tecnogia<br> do
                    Queijo</span>
            </a>
        </div>
        <div class="space-x-0 flex flex-row">
            <div class="mx-5 lg:mx-48">
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">Acesse</h2>
                <ul class="text-gray-400">
                    <li class="mb-4">
                        <a href="/" class="hover:underline ">Início</a>
                    </li>
                    <li class="mb-4">
                        <a href="/" class="hover:underline ">Sobre</a>
                    </li>
                    <li>
                        <a href="/" class="hover:underline">Produtos</a>
                    </li>
                </ul>
            </div>
            <div class="mx-5">
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">Contatos</h2>
                <ul class="text-gray-600 :text-gray-400">
                    <li class="mb-4">
                        <p>Segunda à Sexta-Feira das 7:00hs às 18:00hs</p>
                    </li>
                    <li class="mb-4">
                        <h3>Rua Manoel Lopes Filho, 773, Currais Novos - RN, 59380-000</h3>
                    </li>
                    <li class="mb-4">
                        <h3>(84) 9 9999-9999</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center :text-gray-400">© 2022 <a href="/"
                class="hover:underline">CTQueijo™</a>. All Rights Reserved.
        </span>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
            <a href="https://pt-br.facebook.com/" class="text-gray-500 hover:text-gray-900 :hover:text-white"
                target="_blank">
                <img class="w-5 h-5" src="/assets/facebook.svg" alt="instagram">
                <span class="sr-only">Facebook page</span>
            </a>
            <a href="https://www.instagram.com/" class="text-gray-500 hover:text-gray-900 :hover:text-white"
                target="_blank">
                <img class="w-5 h-5" src="/assets/instagram.svg" alt="instagram">
                <span class="sr-only">Instagram page</span>
            </a>
        </div>
    </div>
</footer>